@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    body {
        @apply bg-gray-900 text-white;
    }
}

@layer components {
    .btn-primary {
        @apply px-4 py-2 bg-primary-600 text-white rounded hover:bg-primary-700 transition-colors;
    }
}